<header>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/dashboard"><i class="fas fa-vr-cardboard" style="color: black;"></i>  VR Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">                  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add</a>
                    <div class="dropdown-menu" >
                      <a class="dropdown-item" href="/users/add_company">Company</a>
                      <a class="dropdown-item" href="/users/add_brand">Brand</a>
                      <a class="dropdown-item" href="/users/add_product">Products</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/users/add_client">Clients</a>
                      <a class="dropdown-item" href="/users/add_shop">Shops</a>
                    </div>
                  </li>                
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/aboutus">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>&nbsp;
            <a href="/users/logout" class="btn btn-secondary">logout</a>
          </form>
        </div>
      </div>
      </nav>
   
</header>
<br>
