<%- include('navbar'); %>


<div class="container">
    <div class="row">
        <div class="col-md-4">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">VR Appliences</div>
        <div class="card-body">
          <h4 class="card-title">Google CardBoard</h4>
          <p class="card-text">Google Cardboard brings immersive experiences to everyone in a simple and affordable way. Whether you fold your own or buy a Works with Google Cardboard-certified viewer, you're just one step away from experiencing virtual reality on your smartphone.
        </p>
        </div>
      </div>
    </div> 

    <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3">
            <h3 class="card-header">Google CardBoard</h3>
            <div class="card-body">
              <h5 class="card-title">VR Appliences</h5>
              <h6 class="card-subtitle text-muted">From VR Shop</h6>
            </div>
            <img style="height: 100%; width: 100%; display: block;" src="https://lh3.googleusercontent.com/UEZiga9OucUeU0UVoVAfJSxxQKyVkjX7c8DRpor3fXNOD0fTiBiMglpHC6hHRW7Jqu0" alt="Card image">
           

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price 300-2000 </li>
                <li class="list-group-item">Available Online 
                 <a href="https://www.amazon.in/Google-Cardboard-Virtual-Reality-Headset/dp/B00TF9CBUO" target="_blank">Online Purchase</a>
                </li>
                </ul>
          </div>
          
    </div>
</div>


</div>
 