<%- include('navbar'); %>
<div class="container">
<div class="row mt-5">
    <div class="col-md-9 m-auto">
        <div class="card card-body">
        <h1 class="text-center mb-3"> Upload Files</h1>
        <% include ./partials/messages %>
        <hr>
        <form action="/upload" method="POST" enctype="multipart/form-data">
             <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <span style="color: red;"><%= typeof msg != 'undefined' ? msg : ''  %></span>
                        <input name="myImage" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">.3ds, .fbx, .blend models only.</small>
                      </div>
                    </div>           
             </div>
                          
             <a href="/users/add_brand" class="btn btn-secondary">Back</a>                  
            
                
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <%- include('footer'); %>